img.card-img-top1 {
  
    /* background-image: url(image/soundtrackmovie); */
    height: 277px;
 }

.btn{
    display: inline-block;
    color: red;
    position: relative;
    border: transparent;
    margin-left: auto;
}