.fa-github:before {
    content: "\f09b";
}
.fab{
    display: inline-block;
    position: relative;
    border: transparent;
    color: red;
    float: left;
}
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
.card-title {
    margin-bottom: .75rem;
    border-bottom: 1px solid black;
}
.jumbotron1{
    background-image:url("/public/images/blackbackground.jpg");
    height: 800px;
    opacity: 95%;
}