footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: white;
    text-align: center;
    /* padding: 5px; */
 }
 footer p  {
    font-size: 10px;
 }
 .fab{
   display: inline;
   position: relative;
   border: transparent;
   color: red;
}